/app/BBDDCampusOpenData.pyc
/app/config.pyc
/app/forms.pyc
/app/__init__.pyc
/app/models.pyc
/app/static/js/config.autocomplete.js~
/app/static/js/config.calendario.js~
/app/static/js/main.js~
/app/templates/addContent.html~
/app/templates/contentThumbnail.html~
/app/templates/contentThumbnails.html~
/app/templates/contentThumbnais.html~
/app/templates/event.html~
/app/templates/filtros.html~
/app/templates/filtros.html.old
/app/templates/index.html~
/app/templates/layout.html~
/app/templates/pruebaForm.html~
/app/templates/showContent.html~
/app/templates/tags.html~
/app/views.pyc
/data/CreaBBDDCampusOpenData.sql~
/app/config.py~
/readme~
