<!--Plantilla que pinta el evento de un contenido-->
<div class="campusOpenData evento">
	<div class="fieldName">
		Evento:
	</div>
	<div class="fieldValue">
		{{contenido.evento.nombre}}
	</div>
	<div class="fieldName">
		Fecha:
	</div>
	<div class="fieldValue">
		{{contenido.evento.fecha}}
	</div>
	<div>
		<div class="fieldName">
			Lugar:
		</div>
		<div class="fieldValue">
			{{contenido.evento.lugar}}
		</div>
	</div>
	<div class="fieldName">
		Descripción:
	</div>
	<div class="fieldValue">
		{{contenido.evento.descripcion}}
	</div>
</div>
